<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<% @channel.enabled_field_numbers.each do |num| %>
<p>
  <strong> <%= @channel["field#{num}_name"] %> </strong>
  <% @channel.sensor_values.each do |val| %>
<p>
  <%= val["value#{num}"] %>
</p>
  <% end %>
</p>
<% end %>

<p>
  <strong>Api key:</strong>
  <%= @channel.api_key %>
</p>

<p>
  <strong>User:</strong>
  <%= @channel.user %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
