<p id="notice"><%= notice %></p>

<% provide(:title, @channel.name) %>
<h1><%= @channel.name %></h1>

<p>
  <%= @channel.description %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>

<p>
  <strong>API key:</strong>
  <%= @channel.api_key %>
</p>

<p>
  <strong>User:</strong>
  <%= @channel.user.name %>
</p>

<% @channel.enabled_fields.each do |field| %>
    <div class="chart-container">
        <canvas id="sensor_chart<%= field.index %>"></canvas>
        <%= javascript_tag do %>
         var color_set = ["","#de9610","#0074bf","#a0c238","#c93a40","#9460a0","#d06d8c","#546474","#33476a"];
         var labels = [];
         var values = [];

         <%= time_now = Time.now.to_f %>
         <%= time_past = 12.hours.ago.to_f %>

         <% @channel.sensor_values.order(:timestamp).each do |val| %>
            <% if val.timestamp.to_f < time_now && val.timestamp.to_f > time_past %>
                labels.push("<%= val.timestamp.strftime("%Y/%m/%d %H:%M") %>");
                values.push(<%= val["value#{field.index}"] %>);
            <% end %>
         <% end %>

         var data = {
         labels: labels,
         datasets: [
                 {
                     label: "<%= field.name %>",
                     fill: "false",
                     borderColor: color_set[<%= field.index %>],
                     pointBorderColor: color_set[<%= field.index %>],
                     pointBackgroundColor: color_set[<%= field.index %>],
                     lineTension: 0,
                     data: values,
                 },
             ]
         };
         var ctx = document.getElementById("sensor_chart<%= field.index %>").getContext("2d");
         var options = {
            maintainAspectRatio: false,
             title: {
                 display: true,
                 text: "sensor<%= field.index %>"
             },
             elements: {
                point: {
                    radius: 0,
                    hitRadius: 5,
                    hoverRadius: 5
                }
             }
         };
         var lineChart = new Chart(ctx, {
             type: 'line',
             responsive: true,
             data: data,
             options: options
         });
        <% end %>
    </div>
<% end %>

<%= link_to 'New Sensor value', new_sensor_value_path(channel_id: @channel) %>
