<% if logged_in? %>
  <div class="row">
    <aside class="col-xs-12 col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-xs-12 col-md-8">
      <h3>Eye-Dear Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Eye-Dear App</h1>

    <h2>
        You can try it! So...
  		  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-custom" %>
    </h2>
  </div>
<% end %>