<p id="notice"><%= notice %></p>

<p>
  <strong>Value1:</strong>
  <%= @sensor_value.value1 %>
</p>

<p>
  <strong>Value2:</strong>
  <%= @sensor_value.value2 %>
</p>

<p>
  <strong>Value3:</strong>
  <%= @sensor_value.value3 %>
</p>

<p>
  <strong>Value4:</strong>
  <%= @sensor_value.value4 %>
</p>

<p>
  <strong>Value5:</strong>
  <%= @sensor_value.value5 %>
</p>

<p>
  <strong>Value6:</strong>
  <%= @sensor_value.value6 %>
</p>

<p>
  <strong>Value7:</strong>
  <%= @sensor_value.value7 %>
</p>

<p>
  <strong>Value8:</strong>
  <%= @sensor_value.value8 %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @sensor_value.timestamp %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @sensor_value.channel %>
</p>

<%= link_to 'Edit', edit_sensor_value_path(@sensor_value) %> |
<%= link_to 'Back', sensor_values_path %>
